@import './base.css';

#app {  
  font-weight: normal;
}

main{
  max-width: 1280px;
  margin: 0 auto;}


header{
  width: 100%;
  height: 94px;
  flex-shrink: 0;
  border-bottom: 1px solid #e1e1e1;
  background: #FFF;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
